
.CookiebotWidget-logo {
  
  background-color: white;
  border: none;
  cursor: pointer;
  
  svg {
    
    display: block;
    width: 16px;
    height: 16px;
    transition: all 0s ease;
    transition-delay: .2s;
    
    circle {
      fill: #545454;
    }
    
    path {
      fill: #ffffff
    }
    
  }

}